nav,
nav div {
	display: flex;
}

nav {
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg);
	border-bottom: var(--border) solid 1px;
	padding: 1rem;
}
nav div {
	gap: 1rem;
}
a {
	color: var(--text);
}
