.test {
	background-color: var(--bg);
}
form {
	display: grid;
	padding: var(--spacing4);
	gap: var(--spacing5);
	width: 400px;
	border-radius: 0.5rem;
	color: var(--text-muted);
	border: var(--border) solid 1px;
	border-top: var(--highlight) solid 2px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	text-align: center;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	text-align: start;
	position: relative;
}

input {
	border: 3px solid var(--bg);
	border-radius: 10px;
	padding: 0.75rem;
}

input:focus {
	border: 3px solid var(--highlight);
	outline: none;
}

.icon {
	position: absolute;
	bottom: 13%;
	right: 2px;
	margin-right: 0.5rem;
}
