* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*variables*/
:root {
	--bg-dark: oklch(0.1 0 267);
	--bg: oklch(0.15 0 267);
	--bg-light: oklch(0.2 0 267);
	--text: oklch(0.96 0 267);
	--text-muted: oklch(0.76 0 267);
	--highlight: oklch(0.5 0 267);
	--border: oklch(0.4 0 267);
	--primary: oklch(0.76 0.1 267);

	--colorMain: rgb(34, 40, 49);
	--colorMed: rgb(57, 62, 70);
	--colorLight: rgb(238, 238, 238);
	--accent: rgb(0, 173, 181);

	--ff: "Noto Sans JP", serif;
	--ff2: "Fira Sans", serif;
	--p: 1rem/1.5em var(--ff);
	--h1: 600 3rem/1.2em var(--ff2);
	--h2: 600 2rem/1.2em var(--ff2);
	--spacing1: 4px;
	--spacing2: 8px;
	--spacing3: 16px;
	--spacing4: 20px;
	--spacing5: 40px;
	--spacing6: 80px;
	--spacing7: 160px;
}

/*Global styles*/
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
	font: var(--p);
	background: var(--bg-dark);
	color: var(--colorLight);
}
h1 {
	font: var(--h1);
	color: var(--text);
}

h2 {
	font: var(--h2);
	margin: var(--spacing2) 0;
	color: var(--text);
}

p {
	margin: var(--spacing2) 0;
}

a {
	color: var(--colorLight);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
}

.btn,
button {
	all: unset;
	display: inline-block;
	margin: var(--spacing2) 0;
	background: var(--primary);
	padding: var(--spacing2) var(--spacing3);
	border-radius: var(--spacing2);
	color: var(--bg);
	cursor: pointer;
}

img {
	width: 100%;
}
