* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*variables*/
:root {
	--colorMain: rgb(34, 40, 49);
	--colorMed: rgb(57, 62, 70);
	--colorLight: rgb(238, 238, 238);
	--accent: rgb(0, 173, 181);

	--ff: "Noto Sans JP", serif;
	--ff2: "Fira Sans", serif;
	--p: 1rem/1.5em var(--ff);
	--h1: 600 3rem/1.2em var(--ff2);
	--h2: 600 2rem/1.2em var(--ff2);
	--spacing1: 4px;
	--spacing2: 8px;
	--spacing3: 16px;
	--spacing4: 20px;
	--spacing5: 40px;
	--spacing6: 80px;
	--spacing7: 160px;
}

/*Global styles*/
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
	font: var(--p);
	background: var(--colorMed);
	color: var(--colorLight);
}
h1 {
	font: var(--h1);
}

h2 {
	font: var(--h2);
	margin: var(--spacing2) 0;
}

p {
	margin: var(--spacing2) 0;
}

a {
	color: var(--colorLight);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
}

.btn,
button {
	all: unset;
	display: inline-block;
	margin: var(--spacing2) 0;
	background: var(--colorMed);
	padding: var(--spacing2) var(--spacing3);
	color: var(--colorLight);
	border-radius: var(--spacing2);
	border-bottom: solid var(--spacing1) var(--accent);
	font: var(--p);
	cursor: pointer;
}

.btn:hover,
button:hover {
	background: linear-gradient(180deg, var(--colorMed), var(--colorMain));
	transition: 0.3 ease-in-out;
}

img {
	width: 100%;
}
